<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">

  <title>
    <%= title %>
  </title>
  <meta name="description" content="<%= description %>">
  <meta itemprop="image" content="<%= baseUrl %>/static/logo/logo-square.png">
  <link rel="canonical" href="<%= baseUrl %>/<%= canonical %>" />


  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= baseUrl %>/<%= canonical %>">
  <meta property="og:site_name" content="Alphonsio">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= baseUrl %>/static/logo/logo-square.png">


  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:url" content="baseUrl/<%= canonical %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Alphonsio" />
  <meta name="twitter:image" content="baseUrl/static/logo/logo-square.png" />


</head>

<body class="btfcss-classic">
  <button class="btn bg-black btn-xs">Button text</button>
  <button class="btn bg-black btn-sm">Button text</button>
  <button class="btn bg-black btn-md">Button text</button>
  <button class="btn bg-black btn-lg">Button text</button>
  <button class="btn bg-black btn-xl">Button text</button>
  <button class="btn bg-black btn-md rounded">Button text</button>
  <button class="btn bg-black btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-purple btn-xs">Button text</button>
  <button class="btn bg-purple btn-sm">Button text</button>
  <button class="btn bg-purple btn-md">Button text</button>  
  <button class="btn bg-purple btn-lg">Button text</button>
  <button class="btn bg-purple btn-xl">Button text</button>
  <button class="btn bg-purple btn-md rounded">Button text</button>
  <button class="btn bg-purple btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-blue btn-xs">Button text</button>
  <button class="btn bg-blue btn-sm">Button text</button>
  <button class="btn bg-blue btn-md">Button text</button>  
  <button class="btn bg-blue btn-lg">Button text</button>
  <button class="btn bg-blue btn-xl">Button text</button>
  <button class="btn bg-blue btn-md  rounded">Button text</button>
  <button class="btn bg-blue btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-green btn-xs">Button text</button>
  <button class="btn bg-green btn-sm">Button text</button>
  <button class="btn bg-green btn-md">Button text</button>  
  <button class="btn bg-green btn-lg">Button text</button>
  <button class="btn bg-green btn-xl">Button text</button>
  <button class="btn bg-green btn-md rounded">Button text</button>
  <button class="btn bg-green btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-orange btn-xs">Button text</button>
  <button class="btn bg-orange btn-sm">Button text</button>
  <button class="btn bg-orange btn-md">Button text</button>  
  <button class="btn bg-orange btn-lg">Button text</button>
  <button class="btn bg-orange btn-xl">Button text</button>
  <button class="btn bg-orange btn-md rounded">Button text</button>
  <button class="btn bg-orange btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-red btn-xs">Button text</button>
  <button class="btn bg-red btn-sm">Button text</button>
  <button class="btn bg-red btn-md">Button text</button>  
  <button class="btn bg-red btn-lg">Button text</button>
  <button class="btn bg-red btn-xl">Button text</button>
  <button class="btn bg-red btn-md rounded">Button text</button>
  <button class="btn bg-red btn-md" disabled>Button text</button>  
  <hr>

  <button class="btn bg-white btn-xs">Button text</button>
  <button class="btn bg-white btn-sm">Button text</button>
  <button class="btn bg-white btn-md">Button text</button>  
  <button class="btn bg-white btn-lg">Button text</button>
  <button class="btn bg-white btn-xl">Button text</button>
  <button class="btn bg-white btn-md rounded">Button text</button>
  <button class="btn bg-white btn-md" disabled>Button text</button>  
  <hr>


  <div class="card">
    <h2>Title</h2>
    <div>Content</div>
  </div>

  <!-- <input type="color" id="colorPicker" name="colorPicker" value="#ff0000"> -->
</body>

</html>